body{
  background: url(img/sky2.jpg)no-repeat center center;
}
header{
  position:relative;
  z-index:10;
  width:100%;
}
.navbar {
  padding: 0 20px;
}
.navbar-light .navbar-nav .nav-item .nav-link{
  color:#000;
  padding:0 30px;
}
.nav-item{
  font-weight:800;
  text-transform:uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
  background:#FFDA44;
  border-radius:50px;
  color:#000;
}
.navbar-brand img{
  width:300px;
  height:auto 0;
}

.text-center img{
  width:500px;
  height:auto 0;
}
 nav a{
  color:#FDCB00;
}
footer a{
  color:#FD0000;
  text-align:center;
}
a:hover{
  color:#FD0000;
}
#start-game{
  text-transform:uppercase;
  font-weight:800;
  color:#fff;
  background-color:#FD0000;
  border-radius:50px;
  font-size:20px;
}
#instructions{
  text-transform:uppercase;
  font-weight:800;
  color:#fff;
  background-color:#2323FB;
  border-radius:50px;
  font-size:20px;
}
.navbar-light .navbar-toggler{
  border:none;
  color:#fff;
  border-radius:0;
  font-size:30px;
}
