* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;

}

body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("./img/sky5.gif") no-repeat;
  background-size:cover;
  background-color:#60AAF6;
}
header{
  z-index:10;
}
.wrapper {
  min-height: 70vh;
}
.index .row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:120px 200px;
  max-width:999px;
  flex-wrap:initial;

}
.col-12 img{
  height:auto;
  width:50%;
}
.col-12 h2{
  color: #000;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 20px 0 0;
  background-color: #60AAF6;

}
.col-12 h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.col-12 p{
  font-size: 18px;
  font-weight: 700;
  color:#505050;
  background-color: #60AAF6;;
}


.navbar-light .navbar-nav .nav-item .nav-link{
  color:#000;
  padding:0 30px;
}
.nav-item{
  font-weight:800;
  text-transform:uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
  background:#FFDA44;
  border-radius:50px;
  color:#000;
}
.navbar-brand img{
  width:300px;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}
#toad img{
  text-align: center;
  width:250px;
}
.moves-counter {
  padding: 0.5em;
}
.reset-btn {
  background: red;
}
/*.game-area{
  display:none;
}*/
.game{
  background: #60AAF6;
  width: 640px;
   height: 640px;
   margin: auto;
   justify-content: center;
    align-items: center;
   flex-wrap: wrap;
   perspective: 1000px;
}
img.game-cards{
  cursor: pointer;
  border-radius: 5px;
  width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transition: transform .5s;
}
 nav a{
  color:#FDCB00;
}
.fa-instagram{
  color: #2323FB;
  padding:0 15px;
  font-size:45px
}
.fa-linkedin{
  color:#FFDA44;
  padding:0 15px;
  font-size:45px
}
.fa-github{
  color:#FD0000;
  padding:0 15px;
  font-size:45px
}
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-github:hover{
  transform: scale(1.10);
}
footer{
  position:sticky;
  margin-top: 2rem;
}

#start-game {
  text-transform:uppercase;
  text-decoration: none;
  font-weight:800;
  color:#fff;
  background-color:#FD0000;
  border-radius:50px;
  font-size:20px;
  width:140px;
  transition: .2s ease-in-out 0s;
}
#start-game :hover{
transform: scale(1.10);
}
#instructions{
  text-transform:uppercase;
  font-weight:800;
  color:#fff;
  background-color:#2323FB;
  border-radius:50px;
  font-size:20px;
  width:190px;
}

.score-div{
text-transform:uppercase;
font-weight:800;
color:#000;
background-color:#60AAF6;
border:3px solid #000;
border-radius:50px;
font-size:20px;
width:120px;
margin:20px;
}
.moves-div{
  text-transform:uppercase;
  font-weight:800;
  color:#000;
  background-color:#60AAF6;
  border:3px solid #000;
  border-radius:50px;
  font-size:20px;
  width:140px;
  margin:20px;
}
.navbar-light .navbar-toggler{
  border:none;
  color:#fff;
  border-radius:0;
  font-size:30px;
}
#win-message{
  font-weight: 800;
  font-size:25px;
  text-transform:uppercase;
  color:#000;
  background-color: #FDCB00;


}
.modal-content {
  background: url("img/sky5.gif") top right;
  background-size: cover;
}

.modal-body li{
  justify-content: center;
  border-bottom: transparent;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;

}
.modal-header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: transparent;
}
.modal-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: transparent;
}
/*CONTACT FORM*/
.contact-form{
width: 600px;
background: #60AAF6;
border: 3px solid #fff;
position:relative;
padding:30px 40px;
box-sizing:border-box;
border-radius:8px;
text-align: center;
}
.contact-form h1{
  margin-top: 20px;
  color: #000;
  text-transform: uppercase;
}
.txtb{
  border:2px solid #fff;
  margin:20px;
  padding:12px 18px;
  border-radius: 8px;
}
.txtb label{
  display:block;
  text-align:left;
  text-transform: uppercase;
  font-size:14px;
  font-weight:500;
}
.txtb input, .txtb textarea{
  width:100%;
  border:none;
  background:#fff;
  outline:none;
  font-size:18px;
  margin-top:6px;
}
.btn{
  color:#fff;
  background-color:red;
  text-transform: uppercase;
  transition: .2s ease-in-out 0s;
  margin-bottom:10px;
}
.btn:hover{
  transform: scale(1.10);
  color:#fff;
}

/*DESKTOP*/


@media screen and (max-width: 990px){
  .contact-form{
    position:relative;
    top:10px;
    width:95%;
  }
  .wrapper{
    min-height:0;
    margin-top: 10px;
  }

  .col-12 .text-center img {
    text-align: center;
    width: 200px;
  }
  img.game-cards{
    width: calc(25% - 10px);
    height: calc(30% - 10px);
  }
  .fa-instagram{
  font-size:40px;
  }
  .fa-linkedin{
  font-size:40px;
  }
  .fa-github{
  font-size:40px;
  }
  .col-12 p {
    font-size:12px;
    flex-basis:100%;
    text-align: center;
  }
  .start-button{
    text-align:center;
  }
    .col-12 h2{
      font-size:35px;
      text-align: center;
    }
    .col-lg-8 h2 span{
      font-size:30px;
    }
    .col-12 img{
      height:auto;
      width:80%;
    }

    #toad{
      display:none;
    }
}
@media screen and (max-width: 400px){
.game{
  height: 400px;
  max-width:325px;
  }
}
@media screen and (min-width: 1024px){
  .containerbox{
    height:79vh;
  }

}
@media screen and (min-width: 1200px){
  .containerbox{
    height:69vh;
  }
}
