* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body{
  background: url("./img/sky2.jpg")no-repeat center center;
  background-size:180%;
}
header{
  position:absolute;
  z-index:10;
  width:100%;
}
.navbar {
  padding: 0 40px;
}
.navbar-light .navbar-nav .nav-item .nav-link{
  color:#000;
  padding:0 30px;
}
.nav-item{
  font-weight:800;
  text-transform:uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
  background:#FFDA44;
  border-radius:50px;
  color:#000;
}
.navbar-brand img{
  width:300px;
  height:auto 0;
}

.text-center img{
  text-align: center;
  width:250px;
  height: 0 auto;
}
/**.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5em;
}**/
.game{
  background: linear-gradient(to bottom, #5cf, #28e);
  border-radius: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 45em;
  margin-bottom: 6em;
  padding: 1px;
  height:700px;
  width:700px;
}
img.game-cards{
  width: 140px;
  height:150px;
  border-radius: 0.5em;
  padding: 0 5px;
}
 nav a{
  color:#FDCB00;
}
footer a{
  color:#FD0000;
  text-align:center;
  padding:0 20px;
}
footer a:hover{
  color:#FD0000;
}
#start-game{
  text-transform:uppercase;
  font-weight:800;
  color:#fff;
  background-color:#FD0000;
  border-radius:50px;
  font-size:20px;
  width:120px;
}
#start-game:hover{

}
#instructions{
  text-transform:uppercase;
  font-weight:800;
  color:#fff;
  background-color:#2323FB;
  border-radius:50px;
  font-size:20px;
  width:190px;

}
.navbar-light .navbar-toggler{
  border:none;
  color:#fff;
  border-radius:0;
  font-size:30px;
}
.modal-content {
  background: url("img/sky2.jpg") top right;
  background-size: 190%;

}

.modal-body li{
  justify-content: center;
  border-bottom: transparent;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;

}
.modal-header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: transparent;
}
.modal-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: transparent;
}

@media screen and (max-width: 768px){
  header{
    position:relative;


  }
}
