* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body{
  height:100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("./img/sky5.gif") no-repeat;
  background-size:cover;
}
header{
  position:absolute;
  z-index:10;
  width:100%;
}
.navbar {
  padding: 0 40px;
}
.navbar-light .navbar-nav .nav-item .nav-link{
  color:#000;
  padding:0 30px;
}
.nav-item{
  font-weight:800;
  text-transform:uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
  background:#FFDA44;
  border-radius:50px;
  color:#000;
}
.navbar-brand img{
  width:300px;
  height:auto 0;
}

.text-center img{
  text-align: center;
  width:250px;
  height: 0 auto;
}
.moves-counter {
  padding: 0.5em;
}
.reset-btn {
  background: red;
}
.game-area{
  display:none;
}
.game{
  background: linear-gradient(to bottom, #5cf, #28e);
  width: 640px;
   height: 640px;
   margin: auto;
   justify-content: center;
    align-items: center;
   flex-wrap: wrap;
   perspective: 1000px;
}
img.game-cards{
  cursor: pointer;
  border-radius: 5px;
  width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transition: transform .5s;
}
 nav a{
  color:#FDCB00;
}
.contact-links{
  color:#FD0000;
  text-align:center;
  margin-bottom:-3px;
}
footer a:hover{
  color:#FD0000;
}
#start-game{
  text-transform:uppercase;
  font-weight:800;
  color:#fff;
  background-color:#FD0000;
  border-radius:50px;
  font-size:20px;
  width:120px;
  transition: .2s ease-in-out 0s;
}
#start-game:hover{
transform: scale(1.10);
}
#instructions{
  text-transform:uppercase;
  font-weight:800;
  color:#fff;
  background-color:#2323FB;
  border-radius:50px;
  font-size:20px;
  width:190px;
}

.score-div{
text-transform:uppercase;
font-weight:500;
color:#fff;
background-color:#60AAF6;
border:1px solid #000;
border-radius:40px;
font-size:20px;
width:120px;
}
.moves-div{
  text-transform:uppercase;
  font-weight:500;
  color:#fff;
  background-color:#60AAF6;
  border:1px solid #000;
  border-radius:40px;
  font-size:20px;
  width:120px;
}
.navbar-light .navbar-toggler{
  border:none;
  color:#fff;
  border-radius:0;
  font-size:30px;
}
.modal-content {
  background: url("img/sky5.gif") top right;
  background-size: cover;
}

.modal-body li{
  justify-content: center;
  border-bottom: transparent;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;

}
.modal-header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: transparent;
}
.modal-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: transparent;
}
/*CONTACT FORM*/
.contact-form{
width: 85%;
max-width:600px;
background:#eef7fc;
position:absolute;
top:30%;
transform: translate(-50%, -50%)
padding:30px 40px;
box-sizing:border-box;
border-radius:8px;
text-align: center;
}
.contact-form h1{
  margin-top: 20px;
  color: #000;
  text-transform: uppercase;
}
.txtb{
  border:1px solid #2f9eda;
  margin:20px;
  padding:12px 18px;
  border-radius: 8px;
}
.txtb label{
  display:block;
  text-align:left;
  text-transform: uppercase;
  font-size:14px;
}
.txtb input, .txtb textarea{
  width:100%;
  border:none;
  background:none;
  outline:none;
  font-size:18px;
  margin-top:6px;
}
.btn{
  color:#fff;
  background-color:#2323FB;
  text-transform: uppercase;
  transition: .2s ease-in-out 0s;
  margin-bottom:10px;
}
.btn:hover{
  transform: scale(1.10);
  color:#fff;
}
/*DESKTOP*/

@media screen and (max-width: 768px){
  header{
    position:relative;
  }
  .contact-form{
    position:relative;
    top:10px;
  }
}


/*@media screen and (min-width: 550px){
  .game{
   height: 30em;
   padding: 2em;
   width: 30em;
  }
  img.game-cards{
    height: 10em;
    width: 10em;
  }
}*/
